/*Cascating Stylesheet */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-items: center;
  background: rgb(27, 192, 233);
}

h1 {
  font-size: 1.5rem;
}

a {
  color: rgb(250, 255, 253);
  text-decoration: none;
}
